:root {
  --top-primary: #fff;
  --top-secondary: #fff;
  --side-primary: #fff;
  --side-secondary: #fff;
  --bottom-primary: #fff;
  --bottom-secondary: #fff;
  --middle-primary: #fff;
  --middle-secondary: #fff;
  --timeout: 2000ms;
}

stop {
  transition: var(--timeout);
}
